<nav class="navbar navbar-dark bg-primary">
  <a class="navbar.brand" style="color: white;" href="/">
    ANGULAR CRUD BY EDUARDO MENDEZ
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">

      <ul class="list-group">
        
          <li *ngFor="let empleado of employeeArray" class="list-group-item list-group-item-action"
          (click)= "openEdit(empleado)"
          [class.active] = "empleado == selectedEmployee">
                <span class="badge badge-primary">{{ empleado.id }}</span> - {{ empleado.name }} {{ empleado.lastname }} - 
                {{ empleado.matricula }}     
          </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">

          <div class="card-title">
            Inserta un nuevo empleado
          </div>

            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.name" placeholder="Inserte un Nombre" class="form-control">
              <br>
              <input type="text" [(ngModel)]="selectedEmployee.lastname" placeholder="Inserte un Apellido" class="form-control">
              <br>
              <input type="text" [(ngModel)]="selectedEmployee.matricula" placeholder="Inserte una Cedula" class="form-control">
            </div>

            <button (click)= "addOrEdit()" class="btn btn-primary">
                Enviar
            </button>

            <button *ngIf = "selectedEmployee.id !==0" class="btn btn-danger" (click) = "Delete()">
                Eliminar
            </button>

        </div>
      </div>
    </div>
  </div>
</div>